<!--The content below is only a placeholder and can be replaced.-->
<!-- <mat-spinner></mat-spinner> -->
<div class="header header-raised header-primary text-center">
  <h4 class="card-title">Contact Us</h4>
</div>
<form class="example-form" #smsForm="ngForm" novalidate >

  <mat-form-field class="example-full-width">
    <span matPrefix>+91 &nbsp;</span>
    <input type="tel" matInput placeholder="Mobile No" name="phone_no" required [(ngModel)]="phoneno">
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="!smsForm.form.valid" (click)="myfn()">Send SMS</button>

 
</form>
<footer class="footer footer-white ">
  <div class="container">
    <div class="copyright pull-center">
      Copyright © <script>document.write(new Date().getFullYear())</script>2018 Ebrain  All Rights Reserved.
    </div>
  </div>
</footer>